*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    display: flex;
    width: 100%;
    height: 100%;
    background: url(https://plus.unsplash.com/premium_photo-1661901160702-e35b2d2f3abf?q=80&w=1937&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}

#main #nav {
    padding: 0 80px;
    display: flex;
    color:white;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 100px;
    
}

#nav #navright a{
    color: white;
    margin-left: 25px;
    text-decoration: none;
}


#nav #navright a:nth-child(1) {
    padding-bottom: 5px;
    border-bottom: 5px solid white;
}

#main #left{
    padding: 0 100px;
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.34);
}

#left .place{
    width: 100%;
    color: white;
}

.place h4 {
    display: inline-block;
    opacity: 0.7;
    padding-bottom: 3px;
    border-bottom: 2px solid white;
    margin-bottom: 6px
}

#left .place:nth-child(2) h4{
    opacity: 1;
    border-bottom: 1px solid white;
    font-size: 50px;
    white-space: nowrap;
}

#left .place:nth-child(2) h6{
    font-size: 30px;
    white-space: nowrap;
}

.place h4 {
    font-weight: 500;

}

.place h6 {
    font-weight: 700;
    opacity: 60%;
}

#main #right{
    width: 70%;
    height: 100%;
}

#right #texts{
    color: white;
    position: absolute;
    top: 50%;
    right: 5%;
    text-align: right;
    transform: translate(0, -50%);
}

#texts h3 {
    font-size: 35px;
    line-height: 1;
    font-weight: 300;
}

#texts h1 {
    line-height: 1;
    font-size:100px ;
}

#texts #input{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#texts input {
    width: 100%;
    padding: 12px 22px;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;

}

#texts input::placeholder {
    color: white;

}